<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WillAgropastoral</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        p, h4, h3, h2, select, h1, table {
            border: #005cbf;
            margin-left: 10%;
            align-self: center;
        }

        .container-fluid {
            border: #005cbf;
            margin-right: 10%;
        }

        html, body {
            margin: 0;
            height: 95%;
            width: 95%;
        }

        .block {
            float: left;
            width: 50%;
        }

        .background {
            background-image: url('http://localhost/images/willagropastoral-logo.png');
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.9;
        }

        div.transbox {
            margin: 10%;
            font-weight: bold;
            color: black;
            opacity: 85%;
        }
    </style>
</head>
<body class="background">
<div class="container-fluid">
<header th:replace="fragments/general.html :: userheader"> </header>
    <div th:object="${form}" class="container-fluid transbox">
        <div class="row">
            <h1 class="title form-text">Verification de Proportions Alimentaires pour <span th:text="${form.getType()}"> Type d'alimenation</span>
                <p class="alert alert-warning" th:if="${form.error()} != null" th:text="${form.error()}">Entrez
                    exactement une valeur supperieur ou egal a Zero dans chaque Champ, pour une meilleure experience
                    utilisateur</p>
            </h1>
            <br>
            <div class="block">
                <form method="post" th:action="@{/analyse}">
                    <div class="mb-3">
                        <h2><label class="form-select" for="type">Choisir le type d'elévage</label></h2>
                        <select class="form-select form-select-lg" aria-label="Default select example" id="type"
                                name="type" th:field="*{type}" onchange="this.form.submit()">
                            <option selected th:each="typ : ${form.getMapStandards()}" th:text="${typ.getKey()}"
                                    th:value="${typ.getKey()}">Choisir
                                le type d'elévage
                            </option>
                        </select>
                    </div>

                    <h2>entrer les valeurs alimentaire disposnible (en Kg)</h2>

                    <div th:insert="fragments/general.html :: inputfield(field='mais', name='Maïs')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='sonDeBle', name='Son de blé')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='farineDeSoja', name='Farine de soja 49%')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='farineDePoisson', name='Farine de poisson 65%')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='tourteauDePalmiste', name='Tourteau de palmiste ')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='tourteauDeCoton', name='Tourteau de coton')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='tourteauDarachide', name='Tourteau d\'rachide')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='sulfateDeFer', name='Sulfate de fer')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='belgotox', name='Belgotoxs')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='belgofoxs', name='Belgofoxs')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='belgoPorcs', name='Belgo-Porcs 10%')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='coquilleDeMer', name='Coquille de mer')"></div>
                    <!-- neuen werten-->
                    <div th:insert="fragments/general.html :: inputfield(field='sorgho', name='Sorgho')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='millet', name='Millet')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='tourteauDeCoprah', name='Tourteau de Coprah')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='sonDeRiz', name='Son de Riz')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='farineDos', name='Farine d\'os')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='farineDeSang', name='Farine de Sang')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='drecheBrasserie', name='Dréches de Brasseries')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='premix', name='Premix')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='caco3', name='Caco3')"></div>
                    <div th:insert="fragments/general.html :: inputfield(field='CMAV', name='CMAV')"></div>

                    <br>
                    <input class="btn btn-primary" type="submit" value="Calcul Analytique"> <br><br>

                    <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                        <input type="checkbox" class="btn-check"
                               id="zeigen" name="zeigen" autocomplete="off"
                               onchange="this.form.submit()"
                               th:checked="*{zeigen}">
                        <label class="btn btn-outline-primary" for="zeigen">Afficher Les Resultats</label>
                    </div>
                </form>
            </div>
            <div class="block" th:if="*{isZeigen()}">
                <h2>Resultat du Calcul analytique:</h2>
                <!-- die 2 tabelle mit thymeleaf fragment lösen -->
                <form>
                    <div th:replace="fragments/general.html :: tableBody(tableData=${form.getResultats()})"></div>
                    <br>
                    <h4>Resultat Standard Pour :<span th:text="${form.getType()}"> type d'élévage</span></h4>
                    <div th:replace="fragments/general.html :: tableBody(tableData=${form.getResultatsStandards()})"></div>
                    <br>
                    <h3>Note:</h3>
                    <p>L'appreciation 'OK' admet une marge d'erreur de plus ou moins 10% de la valeur standard</p>
                </form>

            </div>
        </div>
        <h3>Note:</h3>
        <p>Un service de la Structure agricole WillAgropastoral.</p>
        <footer th:replace="fragments/general.html :: footer"> </footer>
    </div>
</div>
</body>
</html>