<!DOCTYPE html>
<html lang="en">
<header th:insert="fragments/general.html :: head(title='WillAgropastoral: Admin avis liste')"></header>

<body class="background">
<div class="container-fluid">
    <header th:replace="fragments/general.html :: indexheader"></header>
    <div>
        <h1>Liste des differents avis et Commentaires</h1>
    </div>
    <div class="transbox">
    <table class="table table-hover" th:object="${alle}">
        <thead>
        <tr>
            <th scope="col">Commentaires</th>
            <th scope="col">Email</th>
            <th scope="col">Numero</th>
            <th scope="col">Date du post</th>
            <th scope="col">Supression</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="avis: ${alle}" th:object="${avis}">
            <td th:text="*{getComment()}">Commentaire</td>
            <td th:text="*{getEmail()}">Email</td>
            <td th:text="*{getTelephone()}">Téléphone</td>
            <td th:text="*{getGeneratedAt().toLocalDate()}">description</td>
            <td>
                <form method="post" th:action="@{/adminindex/avis/delete/{id}(id=*{getId()})}">
                    <input class="btn btn-outline-danger btn-sm fa fa-trash" type="submit" value="Suprimer">
                </form></td>
        </tr>
        </tbody>
    </table>
    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>
</div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar-expand") {
            x.className += "navbar-expand-md";
        } else {
            x.className = "navbar-expand";
        }
    }
</script>
</html>