<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Amin Index-Willagropastoral</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .background {
            background-image: url('http://localhost/images/willagropastoral-logo.png');
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.6;
        }

        div.transbox {
            margin: 10%;
            font-weight: bold;
            color: black;
            opacity: 85%;
        }
    </style>
</head>
<header th:replace="fragments/general.html :: header"></header>
<body class="background">
<div class="container-fluid">
    <div class="callout-info transbox">
        <h2>Contactez nous via</h2>
        <ul class="border-primary">
            <l> <h3><a href="https://wa.me/message/R4ZBCGLQYHXWA1"> Whatsapp</a></h3></l>
            <l> <h3><a href="tel:+237 6 99 13 36 54"> Whatsapp</a></h3></l>
            <l> <h3><a href="tel:+237 6 99 13 36 54"> Téléphone</a></h3></l>
            <li> <h3><a href="mailto:willagropastoral@gmail.com"> Email</a></h3></li>
        </ul>
            <h3>Un <a th:href="@{/avis}"> Avis</a> de votre part est bien entendu le Bienvenu</h3>
    </div>
    <hr class="featurette-divider">
    <footer th:replace="fragments/general.html :: footer"> </footer>
</div>
</body>
</html>