<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willagropastoral-Contacts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css" href="../static/css/styles.css" />
</head>
<body class="background">
<div class="container-fluid">
    <header th:replace="fragments/general.html :: indexheader"></header>
    <div class="callout-info transbox">
        <h2>Contactez nous via</h2>
        <ul class="border-primary">
            <li><h3><a href="https://wa.me/message/R4ZBCGLQYHXWA1">Message Whatsapp direct</a></h3></li>
            <li><h3><a href="tel:+237 6 50 92 79 95">Contact Whatsapp</a></h3></li>
            <hr class="featurette-divider">
            <li><h3><a href="tel:+237 6 99 13 36 54">Ingenieur wilfried</a></h3></li>
            <!--li><h3><a href="tel:+237 6 97 19 88 17">Ingenieur Douglass</a></h3></li-->
            <hr class="featurette-divider">
            <li><h3><a href="mailto:willagropastoral@gmail.com">Email</a></h3></li>
        </ul>

    <div th:replace="fragments/general.html :: avis"></div>
    </div>
    <hr class="featurette-divider">
    <footer th:replace="fragments/general.html :: footer"></footer>
</div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar-expand") {
            x.className += "navbar-expand-md";
        } else {
            x.className = "navbar-expand";
        }
    }
</script>
</html>