<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Appercu de Finances</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .background {
            background-image: url('http://localhost/images/willagropastoral-logo.png');
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.9;
        }

        body, h1, h2{
            align-self: center;
            align-content: center;
        }

        div.transbox {
            margin: 10%;
            font-weight: bold;
            color: black;
            opacity: 85%;
        }
    </style>
</head>
<body>
<div class="container-fluid background">
    <div class="container">
        <h1>Appercu de la gestion financiere</h1>

        <div class="newfinance transbox">
            <form th:object="${financeForm}" method="post" th:action="@{/finances/übersicht}">
                <div class="form-group row ">
                    <h2> Ajoutez une Nouvelle action financiere</h2>
                    <br>
                    <label class="col-sm-2 col-form-label" for="summe">Summe</label>
                    <div class="col-sm-10">
                        <input class="form-control is-valid" required
                               placeholder="Entrez une valeur superieur ou egal 0"
                               min="0" type="number" value="0" step="any" id="summe"
                               th:field="*{summe}">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label" for="description">Description</label>
                    <div class="col-sm-10">
                        <input class="form-control is-valid" required
                               placeholder="Entrez une Description precise et concise"
                               type="text" id="description"
                               th:field="*{description}">
                    </div>
                </div>
                <div class="form-check">
                    <input th:checked="*{eingabe}" type="checkbox" class="btn-check" name="eingabe" id="eingabe">
                    <label class="btn btn-outline-primary" for="eingabe">Gains ?</label>
                </div>

                <div class="ui-button">
                    <input class="btn btn-primary" type="submit" value="Ajouter"> <br><br>
                </div>
            </form>
        </div>

        <div class="transbox">
            <table class="container-fluid" th:object="${finances}">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Somme</th>
                    <th>Description</th>
                    <th>Date de l'action</th>
                    <th>IdentificationsNummer</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="finance: ${finances}" th:object="${finance}">
                    <td th:text="*{getBezeichnung()}">Type</td>
                    <td th:text="*{getSumme()}">Somme</td>
                    <td th:text="*{getDescription()}">description</td>
                    <td th:text="*{getGeneratedAt()}">description</td>
                    <td th:text="*{getId()}">IdentificationsNummer</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>