<!DOCTYPE html>
<html lang="en">
<header th:insert="fragments/general.html :: head(title='Willagropastoral Appercu de Finances')"></header>
<body>
<div class="container-fluid background">
    <header th:replace="fragments/general.html :: indexheader"></header>
    <div class="container">
        <h1>Appercu de la gestion financiere <span th:if="${projectName != null}"> pour <span th:text="${projectName}">Nom du Project</span></span></h1>
        <div class="transbox">
            <h2>Le Compteur financier de la Structure s'eleve à: <span class="alert alert-success"
                                                                       th:if="${compteur.summe} > 0.0"
                                                                       th:text="${compteur.getSumme()}"><h3> la somme de </h3></span>
                <span class="alert alert-warning" th:if="${compteur.getSumme()} <= 0.0"
                      th:text="${compteur.getSumme()}"><h3>somme</h3></span> - Depuis la date du <span
                        th:text="${compteur.getStartDate()}">date de départ</span><span th:if="${projectName != null}"> Concernant le Project <span th:text="${projectName}">Nom du Project</span></span></h2>
        </div>
        <div  class="newfinance transbox">
            <form th:object="${financeForm}" method="post" th:action="@{/leaderindex/financesuebersicht}">
                <div class="form-group">
                    <h3> Ajoutez une Nouvelle action financiere</h3>
                    <div th:insert="fragments/general.html :: inputfield(field='summe', name='Somme')"></div>
                    <div th:insert="fragments/general.html :: textinput(field='description', name='Description', placeholder='Description de l\'action finaciere')"></div>
                    <div th:if="${projectName == null}" class="form-group row">
                        <label class="col-sm-2 col-form-label" for="projectName"></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control is-valid" required
                                   placeholder="Nom du project"
                                   name="projectName" id="projectName"
                                   th:field="*{projectName}" th:value="${projectName}">
                        </div>
                    </div>
                    <div th:if="${projectName != null}" class="form-group row">
                        <label class="col-sm-2 col-form-label" for="projectName"></label>
                        <div class="col-sm-10">
                            <input type="hidden" class="form-control is-valid" required
                                   placeholder="Nom du project"
                                   name="projectName" id="projectName"
                                   th:field="*{projectName}" th:value="${projectName}">
                        </div>
                    </div>

                </div>
                <div th:insert="fragments/general.html :: switchinput0(field='eingabe', name='Gains ?')"></div>

                <div class="ui-button">
                    <input class="btn btn-primary" type="submit" value="Ajouter"> <br><br>
                </div>
            </form>
        </div>

        <div class="transbox">
            <table class="table table-hover" th:object="${finances}">
                <thead>
                <tr>
                    <th scope="col">Type</th>
                    <th scope="col">Somme</th>
                    <th scope="col">Description</th>
                    <th scope="col">Date de l'action</th>
                    <th scope="col">Nom du Project</th>
                    <th th:if="${#request.userPrincipal.principal.role.toString()} == 'ROLE_ADMIN'" scope="col">
                        Modifier
                    </th>
                    <th th:if="${#request.userPrincipal.principal.role.toString()} == 'ROLE_ADMIN'" scope="col">
                        Supression
                    </th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="finance: ${finances}" th:object="${finance}">
                    <td th:text="*{getBezeichnung()}">Type</td>
                    <td th:text="*{getSumme()}">Somme</td>
                    <td th:text="*{getDescription()}">description</td>
                    <td th:text="*{getGeneratedAt().toLocalDate()}">description</td>
                    <td th:text="*{getProjectName()}">Nom du Project</td>
                    <td th:if="${#request.userPrincipal.principal.role.toString()} == 'ROLE_ADMIN'">
                        <form method="get" th:action="@{/adminindex/finances/modifier/{id}(id=*{getId()})}">
                            <input class="btn btn-outline-primary btn-sm fa fa-trash" type="submit" value="Modifier">
                        </form>
                    </td>
                    <td th:if="${#request.userPrincipal.principal.role.toString()} == 'ROLE_ADMIN'">
                        <form method="post" th:action="@{/adminindex/finances/delete/{id}(id=*{getId()})}">
                            <input class="btn btn-outline-danger btn-sm fa fa-trash" type="submit" value="Suprimer">
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>
</div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar-expand") {
            x.className += "navbar-expand-md";
        } else {
            x.className = "navbar-expand";
        }
    }
</script>
</html>