<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Or Register</title>
</head>
<body>
<div class="container-fluid">
    <h1 class="alert-warning">Loging or register to acces resources on our EndPoints</h1>
    <ul class="block-list">
        <li> <a th:href="@{/login}">Login for Admin-Privillege</a></li>
        <li> <a th:href="@{/registration}">Or Register hier</a></li>
        <li> <a th:href="@{/recovery}">Or Register hier</a></li>
    </ul>
</div>
</body>
</html>