<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription/Connection</title>
</head>
<body>
<div class="container-fluid">
    <h1 class="alert-warning">Inscrivez ou connectez-vous pour acceder a nos ressources</h1>
    <ul class="block-list">
        <li> Ete-vous déjà utilisateur de  <strong class="btn-primary">Willagropastoral.top</strong> ? <a th:href="@{/login}">Connectez vous</a></li>
        <li> Vous pouvez vous inscrire ici <a th:href="@{/registration}">ici</a></li>
        <li> Mot de passe oublié ?<a th:href="@{/maileingabe}"> recuperez-le</a></li>
    </ul>
</div>
</body>
</html>