<!DOCTYPE html>

<html lang="en">
<header th:insert="fragments/general.html :: head(title='WillAgropastoral-notifications')"></header>
<body>
<div class="container-fluid">
    <h1 th:if="${text} != null" th:text="${text}" class="alert-success">Please check your mails</h1>
    <h1 class="link-info"><a th:href="@{/}">Home</a></h1>
    <footer th:replace="fragments/general.html :: footer"> </footer>
</div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar-expand") {
            x.className += "navbar-expand-md";
        } else {
            x.className = "navbar-expand";
        }
    }
</script>
</html>