<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password Eingabe</title>
</head>
<body>
<div class="container-fluid">
<form th:action="@{/passwordeingabe}" method="post" style="max-width: 400px; margin: 0 auto;">
    <h2>Enter a new password</h2>
    <div class="border border-secondary rounded p-3">

        <div>
            <p><input hidden type="email" th:text="${hiddenEmail}" name="hiddenEmail" class="form-control"
                      placeholder="Password"/></p>
        </div>
        <div>
            <p><input type="password" name="password" required class="form-control"
                      placeholder="Password"/></p>
        </div>
        <div class="btn btn-primary" >
            <p><input type="submit" value="Reset Password" class="btn btn-primary"/></p>
        </div>
    </div>
</form>
</div>
</body>
</html>