<!DOCTYPE html>
<html lang="en">
<header th:insert="fragments/general.html :: head(title='WillAgropastoral: Admin avis liste')"></header>

<body class="background">
<div class="container-fluid">
    <header th:replace="fragments/general.html :: indexheader"></header>
    <div>
        <h1>Liste des differents Projects et appercu</h1>
    </div>
    <div class="transbox">
    <table class="table table-hover" th:object="${alle}">
        <thead>
        <tr>
            <th scope="col">Nom du Project</th>
            <th scope="col">Début de Project</th>
            <th scope="col">Dépenses totales</th>
            <th scope="col">Gains Totaux</th>
            <th scope="col">Chiffre d'affaire actuel (Benefice ou perte)</th>
            <th scope="col">jusqu'a la datee du</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="project: ${alle}" th:object="${project}">
            <td><span><a class="btn btn-outline-primary btn-sm fa fa-trash" th:href="@{/leaderindex/project/{projectName}(projectName=*{getName()})}" th:text="*{getName()}">Nom du Project</a></span></td>
            <td th:text="*{getStartDate().toLocalDate()}">Début de Project</td>
            <td th:text="*{getEingabe()}">Somme de Entrées</td>
            <td th:text="*{getAusgabe()}">Somme des sortie</td>
            <td th:text="*{getEingabe() - getAusgabe()}">Somme des sortie</td>
            <td th:text="*{getEndDate().toLocalDate()}">date d'acheveement(date actuel = project en cour)</td>
        </tr>
        </tbody>
    </table>
    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>
</div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar-expand") {
            x.className += "navbar-expand-md";
        } else {
            x.className = "navbar-expand";
        }
    }
</script>
</html>