<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Leader-Willagropastoral</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .background {
            background-image: url('http://localhost/images/willagropastoral-logo.png');
        }

        div.transbox {
            background-color: #ffffff;
            opacity: 0.6;
        }

        div.transbox{
            margin: 10%;
            font-weight: bold;
            color: black;
            opacity: 85%;
        }
    </style>
</head>
<body class="background">
<div class="container-fluid">
<header th:replace="fragments/general.html :: rootheader"> </header>
    <h1>Un Bienvenue <span th:text="${text}">[ROLE] - Name</span> Sur Willagropastoral </h1>

    <div class="callout-info transbox">
        <h2> Le site est Pour le moment en construction. Nous vous remercions de votre Comprehension
        </h2>
    </div>
</div>
<footer th:replace="fragments/general.html :: footer"> </footer>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar-expand") {
            x.className += "navbar-expand-md";
        } else {
            x.className = "navbar-expand";
        }
    }
</script>
</html>