<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Somebody</title>
</head>
<body>
<div class="container-fluid">
    <h1>Hier kannst du deine Route wählen</h1>
    <ul class="block-list">
        <li> <a th:href="@{/homepage}">Homepage</a></li>
        <li> <a th:href="@{/analyse}">First service</a></li>
        <li> <a th:href="@{/login}">Login for Admin-Privillege</a></li>
        <li> <a th:href="@{/registration}">Or Register hier</a></li>
    </ul>
</div>
</body>
</html>