<!DOCTYPE html>
<html lang="en">
<header th:insert="fragments/general.html :: head(title='WillAgropastoral-Amin User-Liste')"></header>
<body class="background">
<div class="container-fluid">
    <header th:replace="fragments/general.html :: indexheader"></header>
    <div>
        <h1>Liste de tous les utilisateurs</h1>
    </div>
    <div class="transbox">
    <table class="table table-hover" th:object="${alle}">
        <thead>
        <tr>
            <th scope="col">Firstname</th>
            <th scope="col">LastName</th>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
            <!--th scope="col">Date d'inscription</th>
            <th scope="col">Désactiver</th-->
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="user: ${alle}" th:object="${user}">
            <td th:text="*{getFirstName()}">Firstname</td>
            <td th:text="*{getLastName()}">LastNmae</td>
            <td th:text="*{getEmail()}">Email</td>
            <td th:text="*{getPassword()}">Password</td>
            <!--td th:text="*{getGeneratedAt().toLocalDate()}">Déactiver</td>
            <td>
                <form method="post" th:action="@{/adminindex/avis/delete/{id}(id=*{getId()})}">
                    <input class="btn btn-outline-danger btn-sm fa fa-trash" type="submit" value="Suprimer">
                </form></td-->
        </tr>
        </tbody>
    </table>
    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>
</div>
</body>
<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "navbar-expand") {
            x.className += "navbar-expand-md";
        } else {
            x.className = "navbar-expand";
        }
    }
</script>
</html>